
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>


<div>
    <h3>Форма редактирование</h3>
    <form method="post">
        
        <table>
           
            <input type="text" name="NameBlog"  />

            
            <input type="text" name="TextField"  />


            <tr><td><input type="submit" value="Отправить" /></td></tr>

        </table>
    </form>
