@model WebApplication27.Models.MyBlog
@{
    ViewBag.Title = "Добавление маньяка";
}



<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h3>Форма редактирование</h3>
    <form method="post" novalidate>

        <table>
            <td><p>Введите название блога</p></td>

            <td><input type="text" class="text-dark" name="NameBlog" /></td>

            <td><p>Введите краткое описание</p></td>
            <td><input type="text" class="text-dark" name="TextField" /></td>



        </table>

        <td><p>Введите текст</p></td>
        <textarea class="text-dark" name="FullTextField"></textarea>


        <tr><td><input class="btn btn-success" type="submit" value="Отправить" /></td></tr>
    </form>



</div>


<script>
    CKEDITOR.replaceAll();
</script>