@model WebApplication27.Models.MyBlog

@{
    ViewBag.Title = "Удаление маньяка";
}
<script src="~/js/ckeditor/ckeditor.js"></script>
<h2>Delete</h2>

<d1>
    <dt>Название</dt>
    <dd>@Html.DisplayFor(model => model.NameBlog)</dd>

    <dt>Краткое описание</dt>
    <dd>@Html.DisplayFor(model => model.TextField)</dd>
   

</d1>

@using (Html.BeginForm())
{
    <input class="btn btn-danger" type="submit" value="Удалить"/>
}