@{
    ViewBag.Title = "Блог Черта";
}

<dib>
    <h3>
    </h3>
    <td>
        <p>
            Блоги
        </p>
    <td><p><a href="/Home/Add/">Добавить новый блог</a></p></td>
    </td>
    @foreach (var b in ViewBag.Blog)
    {<tr>
    <td><p>@b.NameBlog </p></td>
    <td><p>@b.TextField</p></td>
    <td><p>@b.DateAdded</p></td>
    <td><p><a href="/Home/Red/@b.Id">Редактировать</a></p></td>
    <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>


</tr>}

</dib>