@model WebApplication27.Models.MyBlog
@{
    ViewBag.Title = "Редактирование маньяка";
}
<div>
    <h2>Редакция</h2>

    <script src="~/js/ckeditor/ckeditor.js"></script>

    <div>
        <h3>Форма редактирование</h3>
        <form method="post" novalidate>

            <table>
                <td><input type="hidden" name="Id" value="@ViewBag.BlogId" /></td>
                <td><p>Введите название блога</p></td>

                <td><input type="text" class="text-dark" name="NameBlog" /></td>

                <td><p>Введите краткое описание блога</p></td>
                <td>
                    <input type="text" class="text-dark" name="TextField" /></td>
 
                </td>


            </table>
            <p>Введите текст блога</p>
            <textarea name="FullTextField"></textarea>
            <tr><td><input class="btn btn-success" type="submit" value="Отправить" /></td></tr>

        </form>
    </div>


</div>
<script>
    CKEDITOR.replaceAll();
</script>